# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Next.js
.next/
out/
build
dist

# Production
*.log
logs

# Misc
.DS_Store
*.pem
pids
*.pid
*.seed

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Old build artifacts
lib-cov
.grunt
.lock-wscript
build/Release

# Uploaded images
public/uploads/
