<!--Default layout view content-->
<!DOCTYPE html>
<html lang=en-us>
<head>
	<title>bookmarks</title>
	<meta charset=utf-8>
	<link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
	<link href="style.css" rel="stylesheet">
	<style media="screen" >
	</style>
	{{{styles}}}
</head>
<body>
	<div>
		{{{body}}}
	</div>
	<script type="text/javascript" src="index.js">
	</script>
</body>
</html>
