<% layout('layouts/main') -%>
<form method="POST" action="/save">

  <div class = "form-group">
    <label for = "name">Title</label>
    <input type="text" class="form-control" id="name" name="title" placeholder = "Enter title" />
    <label for = "name">Description</label>
    <input type="text" class="form-control" id="name" name="description" placeholder = "Enter Description" />
  </div>

  <input class="btn btn-default" type="submit">
</form>
  <strong>Data saved</strong>
  <%- dataSaved %>
