$global-class: fire-cms;
@mixin wrap {

  .#{$global-class} {
    @include outer-container;
    font-family: $base-font-family;
    @content;
  }
}


@mixin mobile($mobile-break-point: $mobile-mq) {

    @include media($mobile-break-point) {
      @content;
    }
}

@mixin tablet($tablet-break-point: $tablet-mq) {

  @include media($tablet-break-point) {
    @content;
  }
}

@mixin desktop($desktop-break-point: $desktop-mq) {
  @include media($desktop-break-point) {
    @content;
  }
}






@mixin opacity($value){
  $IEValue: $value*100;
  opacity: $value;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
  filter: alpha(opacity=$IEValue);
}

@mixin cf() {
  // for older brwosers
  *zoom: 1;


  &:after {
    content: "";
    display: table;
    clear: both;
  }
  &::before {
    clear: both;
  }
}
