$mobile-mq: max-width 736px;
$tablet-mq: min-width 737px;
$desktop-mq: min-width 960px;
$gutter: 5px;
$base-font-size: 12px;
$base-font-family:  Helvetica Neue, Helvetica, Georgia;
$outfit-font-family: Helvetica Neue, Helvetica, Georgia;

$primary-font-colour: #000000;
$secondary-font-colour: #000000;
$sale-font-colour: #8a0707;

$default-hover-color:#838383;

$border-color: #cbcbcb;
