.fire-cms__header{
  @include span-columns(12);
  @include omega();
  background-color: #fff;
  margin-bottom: 10px;
  border-top: 5px solid #ccc;
  margin-top: 10px;

  .fire-cms__logo {
    @include span-columns(4);
    position: relative;
    top: 13px;
    padding-left: 10px;
    .fire-cms__logo--icon {
      font-size: 30px;
      color: #1385e5;
    }
  }

  .fire-cms__nav {
    @include span-columns(4);
    list-style-type: none;
    margin: 0;
    padding: 0;

    .fire-cms__nav--item {
      position: relative;
      display: inline;
      color: #ccc;
      padding: 10px;
      top: 30px;
    }
  }
}
